.mb-3¿2 {
}
.texto_blanco {
    color: #FFFFFF;
}
.text-dark {
    color: #000000;
}

.texto_cambio {
    font-size: xx-large;
}
.texto_22 {
    font-size: xx-large;
}
.bg_negro {
    background-color: #000000;
}
Bebas Neue-font {
    font-family: 'Bebas Neue', sans-serif !important;
}
Urbanista-font {
    font-family: 'Urbanista', sans-serif !important;
}